@keyframes moveUP {
  0% {
    transform: translate(0, 0); /* Start at original position */
  }
  50% {
    transform: translate(0, -10px); /* Move up 10px (adjust as needed) */
  }
  100% {
    transform: translate(0, 0); /* Move back to original position */
  }
}

.allArrows img {
  margin-right: 10px;
  width: 50px;
  height: 30px;
  animation: moveUP 2s infinite alternate; /* Adjust duration as needed */
}

.add5px {
  margin-left: 3px;
  
  width: 50px; /* Ajusta el tamaño si es necesario */
  height: 50px;
}
